project_report/project_report.aux
project_report/project_report.bbl
project_report/project_report.bcf
project_report/project_report.blg
project_report/project_report.fdb_latexmk
project_report/project_report.log
project_report/project_report.pdf
project_report/project_report.run.xml
project_report/project_report.synctex.gz
